*
{
 margin: 0;
 border: 0;
 padding: 0;
 width: 100%;
 margin: auto;
}
body
{
 font-family: Arial, Helvetica, sans-serif;
}
#head
{
 background-color: darkslategray;
 color: white;
 display: flex;
}
#head-left
{
 width: 80%;
}
#head-left1
{
 padding: 3vh;
}
#head-left2
{
 padding-left: 3vh;
 padding-bottom: 3vh;
}
#head-right
{
 width: 20%;
 display: flex;
 height: auto;
 justify-content: center;
 align-items: center;
}
#head-right1
{
 width: 15vh;
 height: 15vh;
 border-radius: 50%;
 border: 1vh solid green;
 background-color: white;
}
#head-section
{
 background-color: black;
}